/*Navigation Bar*/
.navBar {

}

.navBar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #362415;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 2px solid #c0c0c0;

}

.navBar li {
  float: left;
}

.navBar #activeMenu {
  display: inline-block;
  color: #0b421a;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: #eac784;
}

.navBar li a, .dropbtn {
  display: inline-block;
  color: #15a23c;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navBar li a:hover, .dropdown:hover .dropbtn {
  background-color: #eac784;
}

.navBar li.dropdown {
  display: inline-block;
}

.navBar .dropdown-content {
  display: none;
  position: absolute;
  background-color: #362415;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.navBar .dropdown-content a {
  color: #15a23c;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.navBar .dropdown-content a:hover {background-color: #eac784}

.navBar .dropdown:hover .dropdown-content {
  display: block;
}


